<style>
  .draft {
    background: repeating-linear-gradient(
        45deg,
        rgba(249,245,0, 1),
        rgba(249,245,0, 1) 10px,
        rgba(34,34,34,1) 10px,
        rgba(34,34,34,1) 20px
      ); 
      position: sticky; 
      right: 0; 
      top: 0; 
      width: 100%; 
      margin: 0; 
      padding: 2px; 
      text-align: center;
      font-size: 14px;
    }
  .draft p {color: #222;}
  .draft p .texty {background: #fff; padding: 6px;}
  .draft a {color: #222; border-bottom: 1px dotted white; text-decoration: none;}
  .draft a:hover, .draft a:active, .draft a:focus, .draft a:visited {color: white; border-bottom: 1px solid white;}
</style>
<div class="draft">
  <p><span class="texty"><strong>WARNING: THIS IS A DRAFT</strong><br>All layout, images, colours and text are subject to change. <a href="mailto:hello@happywidget.co?subject=G4C Website Feedback">Feedback welcome</a></span></p>
</div>