{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html>
<html dir="ltr" lang="en-AU">
<head>

  <!-- Your Stylesheets, Scripts & Title
  ============================================= -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{root}}assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{root}}assets/images/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cal 4 UFC | Let's get Australia's #1 Lightweight to the UFC</title>
  <script src="https://use.typekit.net/qja6gyh.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{{root}}assets/normalize.css">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" integrity="sha256-ffw+9zwShMev88XNrDgS0hLIuJkDfXhgyLogod77mn8=" crossorigin="anonymous"></script>

  <meta name="keywords" content="" />

  <meta name="author" content="" />
  <meta name="google-site-verification" content="" />
  <meta name="description" content="He is a Mixed Martial Artists and Brazilian Jiu Jitsu black belt. Holding a professional record of 15 wins and 5 losses; 5 by knock out and 9 by way of submission. He is the reigning Hex Lightweight Champion, the Eternal Lightweight Champion, the Valor Welterweight Champion. Fighting out of Sunbury, Victoria by way of Renegade MMA in Kensington. He is Callan 'The Rockstar' Potter." />
  <link rel="canonical" href="{{root}}">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="Cal 4 UFC | Let's get Australia's #1 Lightweight to the UFC" />
  <meta property="og:image" content="{{root}}assets/images/cal4ufc-page.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{root}}" />
  <meta property="fb:app_id" content="619180574944133" />
  <meta property="og:description" content="He is a Mixed Martial Artists and Brazilian Jiu Jitsu black belt. Holding a professional record of 15 wins and 5 losses; 5 by knock out and 9 by way of submission. He is the reigning Hex Lightweight Champion, the Eternal Lightweight Champion, the Valor Welterweight Champion. Fighting out of Sunbury, Victoria by way of Renegade MMA in Kensington. He is Callan 'The Rockstar' Potter." />

  <!-- Twitter Meta Data -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:url" content="{{root}}"/>
  <meta name="twitter:title" content="Cal 4 UFC | Let's get Australia's #1 Lightweight to the UFC" />
  <meta name="twitter:description" content="He is a Mixed Martial Artists and Brazilian Jiu Jitsu black belt. Holding a professional record of 15 wins and 5 losses; 5 by knock out and 9 by way of submission. He is the reigning Hex Lightweight Champion, the Eternal Lightweight Champion, the Valor Welterweight Champion. Fighting out of Sunbury, Victoria by way of Renegade MMA in Kensington. He is Callan 'The Rockstar' Potter."/>
  <meta name="twitter:image" content="{{root}}assets/images/cal4ufc-page.jpg" />

</head>
<body class="stretched" data-loader="2" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut" data-speed-out="800">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '619180574944133',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.ui({
      method: 'share',
      mobile_iframe: true,
      href: 'https://developers.facebook.com/docs/',
    }, function(response){});
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

 
 <section class="content">
  <div class="content-wrap" style="margin-bottom: 0;">
      {{> body}}
  </div>
</section> 


  <!-- Footer Scripts
  ============================================= -->

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAe5jJn7L-Ns_YLBydcFB7uKVcKoM14ttk"></script>
    
    <script src="https://use.fontawesome.com/a7d2aeea48.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/app/jquery.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/app/plugins.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/app/functions.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/app/jquery.gmap.js"></script>
    

</body>
</html>